<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <title>找美食</title>
    <link 
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" 
        rel="stylesheet" 
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" 
        crossorigin="anonymous"
    />
    <style>
        body {
            background-color: #d4b8b4;
            margin: 0;  
        }
        #map {
            position: absolute; 
            left: 20%; 
            width: 60%; 
            height: 100%; 
        }
        #detial {
            position: absolute;
            padding: 10px;
            left: 80%;
            width: 20%;
            height: 100%;
            overflow-y: auto;
        }
        #detial input {
            width: 80%;
        }
    </style>
</head>
<body>
    <div id="map"></div>
    <div id="detial">
        <h3>午餐吃什麼</h3>
        <input id="search" class="form-control">
        <button class="btn btn-primary mt-2" id="add">加入我的最愛</button>
        <h4 class="mt-4">我的最愛</h4>
        <ul class="list-group list-group-flush list-group-numbered" id="restaurant-list">

        </ul>
    </div>
    <script>
        let map;
        let currentPosition;
        let selectedMarker;
        let marker;
        let directionsService;
        let directionsRenderer;
        let infodetail;

        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: 23.553118, lng: 121.0211024 }, 
                zoom: 7
            });

            navigator.geolocation.getCurrentPosition(function(position) {
                currentPosition = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
                map.setCenter(currentPosition);
                map.setZoom(16);

                const autocomplete = new google.maps.places.Autocomplete(
                    document.getElementById("search"),
                    {
                        types: ["establishment"],
                        bounds: {
                            east: currentPosition.lng + 0.001,
                            west: currentPosition.lng - 0.001,
                            north: currentPosition.lat + 0.001,
                            south: currentPosition.lat - 0.001
                        },
                        strictBounds: false,
                    }
                );

                autocomplete.addListener("place_changed", () => {
                    const place = autocomplete.getPlace();

                    selectedMarker = {
                        location: place.geometry.location,
                        placeId: place.place_id,
                        name: place.name,
                        address: place.formatted_address,
                        phoneNumber: place.formatted_phone_number,
                        rating: place.rating,
                    };

                    map.setCenter(selectedMarker.location);

                    if (!marker) {
                        marker = new google.maps.Marker({
                            map: map,
                        });
                    }

                    marker.setPosition(selectedMarker.location);

                    if (!directionsService) {
                        directionsService = new google.maps.DirectionsService();
                    }

                    if (!directionsRenderer) {
                        directionsRenderer = new google.maps.DirectionsRenderer({
                            map: map,
                        });
                    }

                    directionsRenderer.set("directions", null);

                    directionsService.route(
                        {
                            origin: new google.maps.LatLng(
                                currentPosition.lat,
                                currentPosition.lng
                            ),
                            destination: {
                                placeId: selectedMarker.placeId,
                            },
                            provideRouteAlternatives: false,
                            travelMode: 'DRIVING',
                            drivingOptions: {
                            departureTime: new Date(/* now, or future date */),
                            trafficModel: 'pessimistic'
                            },
                        },
                        function (response, status) {
                            if (status === "OK") {
                                directionsRenderer.setDirections(response);

                                if (!infodetail) {
                                    infodetail = new google.maps.InfoWindow();
                                }
                                infodetail.setContent(`
                                    <h3>${selectedMarker.name}</h3>
                                    <div>地址: ${selectedMarker.address}</div>
                                    <div>電話: ${selectedMarker.phoneNumber}</div>
                                    <div>評分: ${selectedMarker.rating}</div>
                                    <div>車程: ${response.routes[0].legs[0].duration.text}</div>
                                `);
                                infodetail.open(map, marker);
                            }
                        }
                    );
                
                    const restaurantList = JSON.parse(localStorage.getItem("restaurant-list")) || [];
                    restaurantList.forEach(function(restaurant) {
                        document.getElmentById("restaurant-list").innerHTML += `
                            <li class="list-group-item">
                                ${restaurant.name}
                                <button class="btn-close float-end remove"></button>
                            </li>
                        `
                    });
                });
            });
        }
        //initmap結束

        // 加入我的最愛(在initMap外面)
        document.getElementById("add").addEventListener("click", function() {
            document.getElementById("restaurant-list").innerHTML += `
                <li class="list-group-item">
                    ${selectedMarker.name}
                    <button class="btn-close float-end remove"></button>
                </li>
            `
            const restaurantList = JSON.parse(localStorage.getItem("restaurant-list")) || [];
            restaurantList.push(selectedMarker);
            localStorage.setItem("restaurant-list", JSON.stringify(restaurantList));
        });

        document.getElementById("restaurant-list").addEventListener("click", function(e) {
            if (e.target.classList.contains("remove")) {
                e.target.parentElement.remove();
                const restaurantName = e.target.parentNode.innerText.trim();
                
                const restaurantList = JSON.parse(localStorage.getItem("restaurant-list")) || [];
                const newRestaurantList = restaurantList.filter(function(restaurant) {
                    if (restaurant.name === restaurantName) return false;
                    return true;
                });
                localStorage.setItem("restaurant-list", JSON.stringify(newRestaurantList));
            }
        });
    </script>
    <script 
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdRdEF588YlzTqJVvftllinwHVYzs8j70&libraries=places&callback=initMap&region=TW&language=zh-TW"
        async defer>
    </script>
</body>
</html>
