{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm Email Address" %}{% endblock %}


{% block content %}
<h1>{% trans "Confirm Email Address" %}</h1>

{% if confirmation %}

{% user_display confirmation.email_address.user as user_display %}

{% if can_confirm %}
<p>{% blocktrans with confirmation.email_address.email as email %}請驗證 <a href="mailto:{{ email }}">{{ email }}</a> 此電子郵件地址為帳號 {{ user_display }}.{% endblocktrans %}</p>

<form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
{% csrf_token %}
    <button type="submit">{% trans 'Confirm' %}</button>
</form>
{% else %}
<p>{% blocktrans %}無法驗證 {{ email }} ，因為它已被其它帳號使用。{% endblocktrans %}</p>
{% endif %}

{% else %}

{% url 'account_email' as email_url %}

<p>{% blocktrans %}此電子郵件確認連結已過期或無效。 請 <a href="{{ email_url }}">發出新的電子郵件確認請求</a>。{% endblocktrans %}</p>

{% endif %}

{% endblock %}
