<html>
   <body>

      <form name = "form" action = "{% url 'checkacount' %}" method = "POST" >
         {% csrf_token %}

         <div style = "max-width:470px;">
            <center>
               <input type = "text" style = "margin-left:20%;"
                  placeholder = "Account" name = "account" />
            </center>
         </div>

         <br>

         <div style = "max-width:470px;">
            <center>
               <input type = "password" style = "margin-left:20%;"
                  placeholder = "password" name = "pwd" />
            </center>
         </div>

         <br>

         <div style = "max-width:470px;">
            <center>

               <button style = "border:0px; background-color:#4285F4; margin-top:8%;
                  height:35px; width:80%;margin-left:19%;" type = "submit"
                  value = "Login" >
                  <strong>Login</strong>
               </button>

            </center>
         </div>

      </form>
      <pre>
      <h3>          還沒有帳號，請點擊 <a href="https://papago-abc54f89f470.herokuapp.com/accounts/signup/">註冊</a></h3></pre>
   </body>
</html>

